/* TODO: Make flash actually always cover the info box... */

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('/static/fonts/39EBBB_0_0.eot');
    src: url('/static/fonts/39EBBB_0_0.eot') format('embedded-opentype'),
         url('/static/fonts/39EBBB_0_0.woff2') format('woff2'),
         url('/static/fonts/39EBBB_0_0.woff') format('woff'),
         url('/static/fonts/39EBBB_0_0.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* ---------- Main ---------- */

body {
	margin:0;
	display: block;
	overflow: hidden;
}

#navbar {
	overflow: hidden;
  	padding: 10px;
	background-color: #ffffff;
}

#logo {
	float: left;
    padding-left: 15px;
    padding-top: 5px;
}

#items {
    margin-top:10px;
	float: right;
}

#items *{
	font-family: "BebasNeue-Regular";
	font-size: 25px;
	padding-right: 30px;
}

#items a {
	text-decoration: none;
	color: inherit;
}

#items a:hover {
	text-decoration: underline;
}

#main {
	display:flex;
	width:100%;
	height: calc(100vh - 59px);
}

/* ---------- Info Panel ---------- */

#flash {
	background-color: rgba(255, 255, 255, 1);
	display: none;
	position: absolute;
	height: 100%;
	width: calc(20% + 62px);
	min-width: 260px;
	top: 70px;
	left: 0px;
	z-index: 99;
}

#info {
	overflow-y: scroll; /* Comment for no overflow scrolling */
	padding: 25px;
	padding-top: 15px;
	flex-direction: column;
	background-color: #ededed;
	flex-basis: 23%; /* Changed from 20 to fit data, but neccessitated scrolling */
	/*border-right-style: solid;
	border-right-width: 12px;
	border-right-color: white;*/
	margin-right: 12px;
	border-radius: 0px 10px 0px 0px;
}

/* Hide info panel scrollbars */
#info::-webkit-scrollbar {
	display: none;
}
#info {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#title {
	display: inline-block;
	font-family: "BebasNeue-Regular";
	font-size: 45px;
	color: black;
}

#subtitle {
	font-family: "Roboto";
    	font-weight: 500;
	font-size: 15px;
	color: #666666;
}

#subtitle * {
	display: inline-block;
}

#datatable {
    background-color: white;
    padding:15px;
    margin-top:20px;
	border-radius: 10px;
	color: black;
	width:100%;
}

#graph-preview {
    background-color: white;
    padding:15px;
    padding-top:20px;
    margin-top:20px;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
}

#graph-preview img{
    width:107%;
    clip-path: inset(20% 5% 18% 7%);
    margin: -3% -4% -4% -4%;
    filter: brightness(1.4) contrast(5) saturate(0.8);
}

#graph-preview #cond-graph{
    filter: brightness(1.4) contrast(5) saturate(0.8) hue-rotate(40deg);
}

.unfocused #graph-preview img{
    filter: brightness(1.7) contrast(5) saturate(0.8) !important;
}

.fas {
	color: #0E194F;
}

.unfocused {
	color: lightgray !important;
}

.text-center {
	text-align: center;
}

th {
	font-family: "Roboto";
	font-size: 20px;
    text-align: left;
    font-weight: normal;
    padding: 3px;
}

.value {
    text-align: right;
}

.number, .unit {
	display: inline;
}

#sensorlink {
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#sensorlink a {
	color: #0E194F;
	text-decoration: none;
	font-family: "BebasNeue-Regular";
	font-size: 24px;
}

#sensorlink a:hover {
	text-decoration: underline;
}

/* It's jank, but it does work... */
#photo-container {
	display: inline-table;
}

#photo {
	margin-top: 20px;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
}

/* ---------- Map ---------- */

#map {
	filter: brightness(87%) contrast(125%) saturate(200%);
	position: inherit; top:0; bottom:0; right:0; left:0;
	width: calc(80% - 62px);
	height: calc(100% - 15px);
	border-radius: 10px 0px 0px 0px;
}

/* ---------- Graphs ---------- */

#grapharea {
	width: calc(80% - 94px);
	overflow-y: scroll;
	padding-right: 30px;
	padding-bottom: 20px;
}

.graph {
    /* height: 200px; */
    width: 100%;
    background-color: #ededed;
    margin-bottom: 12px;
	border-radius: 10px;
}

.range-select {
    font-family: "Roboto";
    padding:20px;
    width: calc(100% - 40px);
}

.range-select p {
    width: 100px;
    display: inline;
}

.range-select .slider {
    float: right;
    width:calc(100% - 200px);
}

/* ---------- Mobile Overrides ---------- */

@media only screen and (max-aspect-ratio: 1/1) {
	#main {
		flex-direction: column-reverse;
	}

	#info {
		margin-right:0;
		margin-top:12px;
		flex-basis: 45%;
		flex-shrink: 0;
	}

	#map {
		width: 100%;
	}

	#grapharea {
		width: 100%;
		padding:30px;
		box-sizing: border-box;
		flex-grow: 1;
	}
	
}
