/* TODO: Make flash actually always cover the info box... */

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('/static/fonts/39EBBB_0_0.eot');
    src: url('/static/fonts/39EBBB_0_0.eot') format('embedded-opentype'),
         url('/static/fonts/39EBBB_0_0.woff2') format('woff2'),
         url('/static/fonts/39EBBB_0_0.woff') format('woff'),
         url('/static/fonts/39EBBB_0_0.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* ---------- Main ---------- */

body {
	margin:0;
	display: block;
	overflow: hidden;
}

#navbar {
	overflow: hidden;
  	padding: 10px;
	background-color: #ffffff;
}

#logo {
	float: left;
    padding-left: 15px;
    padding-top: 5px;
}

#items {
    margin-top:10px;
	float: right;
}

#download {
	font-family: "BebasNeue-Regular";
	font-size: 25px;
	padding-right: 30px;
}

#download a {
	text-decoration: none;
	color: inherit;
}

#main {
	display:flex;
	width:100%;
	height: calc(100vh - 59px);
}

/* ---------- Info Panel ---------- */

#flash {
	background-color: rgba(255, 255, 255, 1);
	display: none;
	position: absolute;
	height: 100%;
	width: calc(20% + 62px);
	min-width: 260px;
	top: 70px;
	left: 0px;
	z-index: 99;
}

#info {
	overflow-y: scroll; /* Comment for no overflow scrolling */
	padding: 25px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	background-color: #ededed;
	flex-basis: 23%; /* Changed from 20 to fit data, but neccessitated scrolling */
	border-right-style: solid;
	border-right-width: 12px;
	border-right-color: white;
}

/* Hide info panel scrollbars */
#info::-webkit-scrollbar {
	display: none;
}
#info {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#title {
	display: inline-block;
	font-family: "BebasNeue-Regular";
	font-size: 45px;
	color: black;
}

#idnum {
	font-family: "Roboto";
    font-weight: 500;
	font-size: 15px;
	color: #666666;
}

#datatable {
    background-color: white;
    padding:15px;
    margin-top:20px;
	border-radius: 10px;
	color: black;
	margin-bottom: 15px;
}

.fas {
	color: #0E194F;
}

.unfocused {
	color: lightgray !important;
}

th {
	font-family: "BebasNeue-Regular";
	font-size: 30px;
    text-align: left;
    font-weight: 10;
}

.value {
    text-align: right;
}

.number, .unit {
	display: inline;
}

#sensorlink {
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#sensorlink a {
	color: #0E194F;
	text-decoration: none;
	font-family: "BebasNeue-Regular";
	font-size: 24px;
}

/* It's jank, but it does work... */
#photo-container {
	display: inline-table;
}

#photo {
	margin-top: 15px;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 15px; /* To add a bit more scroll distance at bottom of sidebar */
}

/* ---------- Map ---------- */

#map {
	filter: saturate(250%);
	position: inherit; top:0; bottom:0; right:0; left:0;
    width: calc(80% - 62px);
    height: calc(100% - 15px);
}

/* ---------- Graphs ---------- */

#grapharea {
	width: calc(80% - 94px);
	overflow-y: scroll;
	padding-right: 30px;
}

.graph {
    /* height: 200px; */
    width: 100%;
    background-color: #ededed;
    margin-bottom: 12px;
	border-radius: 10px;
}
