<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://kit.fontawesome.com/558068c264.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    </head>
    <body>
        <div id="navbar">
            <div id="logo"><img height="44" alt="logo" src="{{ url_for('static', filename='images/Aquametric-01.svg') }}"></div>
            <!--
            <div id="items">
                <div id="download">Download Data</div>
            </div>
            -->
        </div>
        <div id="main">
            <div id="flash"></div>
            <div id="info">
                <div id="title" class="unfocused">Select a sensor</div>
                <div id="idnum" class="unfocused">#000</div>
                <table id="datatable" class="unfocused">
                    <tr>
                        <th><i class="fas fa-water unfocused"></i></th>
                        <th>Stage Height</th>
                        <th class="value">32 cm</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-thermometer-three-quarters unfocused"></i></th>
                        <th>Temperature</th>
                        <th class="value">12°C</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-wind unfocused"></i></th>
                        <th>Turbidity</th>
                        <th class="value">35%</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-tachometer-alt unfocused"></i></th>
                        <th>Conductivity</th>
                        <th class="value">12%</th>
                    </tr>
                </table>
                <img id="photo" src="{{ url_for('static', filename='images/sensor-placeholder.jpg') }}">     
            </div>
            <div id="map"></div>
        </div>
    </body>
</html>
