<!DOCTYPE html>
<html>
    <head>
        <title>Liveconf Editor</title>
        <style>
            html, body, h2 {
                margin: 0px;
                padding: 0px;
            }
            body {
                padding: 20px;
            }
            h2 {
                padding-bottom: 10px;
            }
            select, input {
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $.ajax({url: "/liveconf.json", cache: false}).done(function(data) {
                    $('select[name="sensor_id"]').change(function() {
                        mydata = data[$(this).val()];
                        console.log(mydata)
                        $('input[name="update_freq"]').val(mydata["update_freq"]);
                        $('input[name="ota_update"]').prop('checked', mydata["ota_update"]);
                    });
                });
            });
        </script>
    </head>
    <body>
        <h2>Liveconf Editor</h2>
        <form method="post">
            Select sensor ID:
            <select name="sensor_id">
            {% for key in current_conf.keys() %}
                <option value="{{key}}"{{" selected" if key == default_key else ""}}>{{key}}</option>
            {% endfor %}
            </select>
            Select update frequency:
            <input type="number" name="update_freq" min="0" step="1" value="{{current_conf[default_key]["update_freq"]}}">
            Check whether to enable ota update mode:
            <input type="checkbox" name="ota_update"{{" checked" if current_conf[default_key]["ota_update"] else ""}}>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
