<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <style>
            h1 {
                font-family: Calibri;
            }
            table {
                margin: 30px;
            }
            table, td, th {
                border-collapse: collapse;
                border: 1px solid black;
            }
            td, th {
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Aquametric</h1>
        <img src="/graph.png"></img>
        <br/>
        {{ table|safe }}
    </body>
</html>
