<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://kit.fontawesome.com/558068c264.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="navbar">
            <div id="logo"><img height="44" alt="logo" src="{{ url_for('static', filename='images/Aquametric-01.svg') }}"></div>
            <div id="items">
                <m id="download">Download Data</m>
            </div>
        </div>
        <div id="main">
            <div id="flash" style="background-color:rgba(255,255,255,1); display: none; position:absolute; height: 100%; width:27.5%; min-width: 260px; top:70px; left:0px; z-index: 99;"></div>
            <div id="info">
                <div id="title" style="color:lightgray;">Select a sensor</div>
                <div id="idnum" style="color:lightgray;">#000</div>
                <table id="datatable" style="color:lightgray;">
                    <tr>
                        <th><i class="fas fa-water"></i></th>
                        <th>Stage Height</th>
                        <th class="value">32 cm</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-thermometer-three-quarters"></i></th>
                        <th>Temperature</th>
                        <th class="value">12°C</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-wind"></i></th>
                        <th>Turbidity</th>
                        <th class="value">35%</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-tachometer-alt"></i></th>
                        <th>Conductivity</th>
                        <th class="value">12%</th>
                    </tr>
                </table>
                <img id="photo" src="{{ url_for('static', filename='images/sensor-placeholder.jpg') }}">      
            </div>
            <div id="grapharea">
                <div id="stagegraph" class="graph"></div>
                <div id="tempgraph" class="graph"></div>
                <div id="condgraph" class="graph"></div>
                <div id="turbgraph" class="graph"></div>
            </div>
        </div>
    </body>
</html>
