<!DOCTYPE html>
<html>

<head>
    <title>Aquametric | {{ sensor_info["prettyname"] }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119712389-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-119712389-3');
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://kit.fontawesome.com/558068c264.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="navbar">
        <div id="logo"><a href="{{ url_for('home.index') }}"><img height="44" alt="logo"
                    src="{{ url_for('static', filename='images/Aquametric-01.svg') }}"></a></div>
        <div id="items">
            <div id="download"><a href="{{ url_for('data.log_json', sensor_id=sensor_id, filetype='csv') }}">Download
                    Data</a></div>
        </div>
    </div>
    <div id="main">
        <!-- <div id="flash"></div> -->
        <div id="info">
            <div id="title">{{ sensor_info["prettyname"] }}</div>
            <div id="idnum">#{{ sensor_id }}</div>
            <div id="photo-container">
                <img id="photo" src="{{ sensor_info['img'] }}">
            </div>
            <table id="datatable">
                <tr id="stage">
                    <th class="text-center"><i class="fas fa-water"></i></th>
                    <th>{{ data_units["stage"][0] }}</th>
                    <th class="value">
                        <div class="number">{{ "{:.1f}".format(current_data["data"]["stage"]) }}</div>
                        <div class="unit">{{ data_units["stage"][2] }}</div>
                    </th>
                </tr>
                <tr id="temp">
                    <th class="text-center"><i class="fas fa-thermometer-three-quarters"></i></th>
                    <th>{{ data_units["temp"][0] }}</th>
                    <th class="value">
                        <div class="number">{{ "{:.1f}".format(current_data["data"]["temp"]) }}</div>
                        <div class="unit">{{ data_units["temp"][2] }}</div>
                    </th>
                </tr>
                {#
                    <tr id="turbidity">
                        <th class="text-center"><i class="fas fa-wind"></i></th>
                        <th>{{ data_units["turbidity"][0] }}</th>
                        <th class="value"><div class="number">{{ "{:.1f}".format(current_data["data"]["turbidity"]) }}</div> <div class="unit">{{ data_units["turbidity"][2] }}</div></th>
                    </tr>
                    #}
                <tr id="conductivity">
                    <th class="text-center"><i class="fas fa-tachometer-alt"></i></th>
                    <th>{{ data_units["conductivity"][0] }}</th>
                    <th class="value">
                        <div class="number">{{ "{:.1f}".format(current_data["data"]["conductivity"]) }}</div>
                        <div class="unit">{{ data_units["conductivity"][2] }}</div>
                    </th>
                </tr>
            </table>
        </div>
        <div id="grapharea">
            <div class="graph range-select">
                <p>Data range: </p>
                <p id="range-value">168</p>
                <input class="slider" id="range-slider" type="range" min="10" max="430" value="320">
                <script>

                    var url = new URL(window.location.href);
                    var hours = url.searchParams.get("hours");

                    if (!url.searchParams.has("hours")) {
                        hours = "max";
                    }

                    function displayRange(hours) {
                        var output;
                        if (hours >= 168) {
                            output = (hours / 168).toFixed(2) + " weeks";
                        }
                        else if (hours >= 24) {
                            output = (hours / 24).toFixed(1) + " days";
                        }
                        else {
                            output = hours + " hours";
                        }
                        document.getElementById("range-value").innerHTML = output;
                    }

                    document.getElementById("range-slider").value = hours;
                    displayRange(hours);

                    document.getElementById("range-slider").oninput = function () {
                        displayRange(this.value);
                    }

                    document.getElementById("range-slider").onchange = function () {
                        url.searchParams.set("hours", this.value);
                        window.location.replace(url);
                    }

                </script>
            </div>
            <img class="graph" src="{{ url_for('data.graph', sensor_id=sensor_id, field='stage', **img_args) }}"></img>
            <img class="graph" src="{{ url_for('data.graph', sensor_id=sensor_id, field='temp', **img_args) }}"></img>
            <!-- <img class="graph" src="{{ url_for('data.graph', sensor_id=sensor_id, field='turbidity', **img_args) }}"></img> -->
            <img class="graph"
                src="{{ url_for('data.graph', sensor_id=sensor_id, field='conductivity', **img_args) }}"></img>
            <img class="graph"
                src="{{ url_for('data.graph', sensor_id=sensor_id, field='battery', **img_args) }}"></img>
            <!--
                <div id="stagegraph" class="graph"><img src="/graph/test.png"></img></div>
                <div id="tempgraph" class="graph"></div>
                <div id="condgraph" class="graph"></div>
                <div id="turbgraph" class="graph"></div>
                -->
        </div>
    </div>
</body>

</html>