<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://kit.fontawesome.com/558068c264.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="navbar">
            <div id="logo"><a href="{{ url_for('home.index') }}"><img height="44" alt="logo" src="{{ url_for('static', filename='images/Aquametric-01.svg') }}"></a></div>
            <div id="items">
                <div id="download">Download Data</div>
            </div>
        </div>
        <div id="main">
            <div id="flash"></div>
            <div id="info">
                <div id="title">{{ sensor_name }}</div>
                <div id="idnum">#{{ sensor_id }}</div>
                <table id="datatable">
                    <tr>
                        <th><i class="fas fa-water"></i></th>
                        <th>Stage Height</th>
                        <th class="value">32 cm</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-thermometer-three-quarters"></i></th>
                        <th>Temperature</th>
                        <th class="value">12°C</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-wind"></i></th>
                        <th>Turbidity</th>
                        <th class="value">35%</th>
                    </tr>
                    <tr>
                        <th><i class="fas fa-tachometer-alt"></i></th>
                        <th>Conductivity</th>
                        <th class="value">12%</th>
                    </tr>
                </table>
                <img id="photo" src="{{ sensor_image }}">      
            </div>
            <div id="grapharea">
                <img class="graph" src="{{ url_for('graphs.test') }}"></img>
                <img class="graph" src="{{ url_for('graphs.test') }}"></img>
                <img class="graph" src="{{ url_for('graphs.test') }}"></img>
                <img class="graph" src="{{ url_for('graphs.test') }}"></img>
                <!--
                <div id="stagegraph" class="graph"><img src="/graph/test.png"></img></div>
                <div id="tempgraph" class="graph"></div>
                <div id="condgraph" class="graph"></div>
                <div id="turbgraph" class="graph"></div>
                -->
            </div>
        </div>
    </body>
</html>
